body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


.game-options-container {

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    outline: 2px solid red;
    align-self: start;
    height: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.game-options-body {
    width: 100%;
    background-color: blue;
    height: 75%;

}

.game-options-toggle {
    width: 50%;
    background-color: purple;
    height: 25%;
}

.gameboard-container {

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

}

.board-frame {
    align-self: center;
    justify-self: center;

    width: 75vw;
    height: 75vh;
    outline: 2px solid red;


    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.board-cell {
    outline: 1px solid blue;
    background-color: transparent;
}

.board-cell:hover {
    background-color: gray;
}

.board-cell>.token {
    height: 100%;
    width: 100%;
}

.x {
    background-color: red;
}

.o {
    background-color: blue;
}

.board-token {
    display: block;
    height: 32px;
    width: 32px;
    stroke: green;
    stroke-width: 3;
}

.label-container {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;

}
