body {
    display: grid;

    grid-template-rows: 1fr min(75vw, 75vh) 1fr;
    grid-template-columns: 1fr min(75vw, 75vh) 1fr;
    /* grid-template-rows: repeat(3, auto); */
    /* grid-template-columns: repeat(3, auto); */
    background-color: gray;
}


.game-options-container {

    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    outline: 2px solid red;
    align-self: start;
    height: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.game-options-body {
    width: 100%;
    background-color: blue;
    height: 75%;

}



.game-options-toggle {
    width: 50%;
    background-color: purple;
    height: 25%;
}

.grid-center {

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

}

.gameboard {
    align-self: center;
    justify-self: center;

    width: 100%;
    height: 100%;

    outline: 2px solid red;


    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

svg {
    /* display: block; */
    /* margin: auto; */
    height: 100%;
    width: 100%;

}

.board-cell {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.token-o>circle {
    stroke-width: 15;
}



.label-container {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;

}
